<%= form_for([:admin, @book]) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= @legend %></legend>
    <div class="field">
      <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
    </div>
    <div class="field">
      <%= f.text_field :publisher, class: "form-control", placeholder: "Publisher" %>
    </div>
    <div class="field">
      <%= f.text_field :edition, class: "form-control", placeholder: "Edition" %>
    </div>
    <div class="field">
      <%= f.text_field :isbn, class: "form-control", placeholder: "ISBN Number" %>
    </div>
    <div class="field">
      <%= f.text_field :year, class: "form-control", placeholder: "Year" %>
    </div>
    <div class="field">
      <div id="upload_cover"></div>
    </div>
    <div class="field">
      <%= f.text_field :online_retail_url, class: "form-control", placeholder: "Online Retail URL" %>
    </div>
    <div class="field">
      <%= label_tag(:authors, "Author(s):") %>
      <table>
        <% @book.authors.each do |author| %>
          <tr>
            <td><%= select_tag("authors[]", options_for_select(@authorslist, author.id), class: "form-control") %></td>
          </tr>
        <% end %>
        <td><%= select_tag("authors[]", options_for_select(@authorslist), class: "form-control") %></td>
      </table>
    </div>
    <div class="field">
      <a class="btn btn-primary btn-xs" id="addMoreAuthors" >Add More Authors</a>
    </div>

    <div class="actions">
      <a href="<%= url_for admin_books_path %>" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"></span>
          Back
      </a>
      <%= f.submit class: "btn btn-success pull-right" %>
    </div>
  </fieldset>
<% end %>

<script type="text/javascript">
  if(typeof uploadify === 'undefined'){
    var uploadify = new Array();
  }
  uploadify.push({
    "id" : "upload_cover",          // DOM id of the div that uploadify has to be applied
    "multi" : false,        // multiple files?
    "auto" : true,          // automatically upload files
    "fileTypeDesc" : "Images",    // files type to be allowed
    "name" : "cover_url",  // name of the hidden field that contains the uploaded file path
    "fileSizeLimit" : "80000kb",
    "uploader" : "book_cover",
    "onUploadSuccess" : function(event, queueID, fileObj){
      console.log(event);
      console.log(queueID);
      console.log(fileObj);
      queueID = JSON.parse(queueID);
      $("#upload_cover-queue").html('<img src="'+queueID["url"]+'">');
    }
  });
</script>