<div class="span12" style="text-align:center">
  <caption><h3>Listing Books</h3></caption>
</div>

<form action="<%= admin_books_path %>" method="get" class="input-group form-group">
  <span class="input-group-addon glyphicon glyphicon-search" style="top: 0; "></span>
  <input type="text" name="search" class="form-control" placeholder="Book Title/publisher">
</form>

<table class="table">
  <div class="pull-right">
    <%= page_navigation_links @books%>
  </div>
  <a href="<%= url_for new_admin_book_path %>" class="btn btn-default">
    <span class="glyphicon glyphicon-plus" style="color: green;"></span>
    New Book
  </a>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publisher</th>
      <th>Edition</th>
      <th>Actions</th>
    </tr>
  </thead>

<% @books.each do |book| %>
  <tr>
    <td>
      <%= link_to book.title, [:admin, book] %>
      (<%= book.year %>)<br />
      <strong>ISBN:</strong>
      <%= book.isbn.empty? ? "Not Found": book.isbn %>
    </td>  
    <td>
      <% if book.authors.length == 0 %>
      No author found for this book.
      <a href="<%= url_for edit_admin_book_path(book) %>" class="btn btn-xs btn-primary">Add author</a>
      <% else %>
      <div>
	<% book.authors.each do |author| %>
	<div><%= link_to author.name, [:admin, author] %></div>
	<% end %>
      </div>
      <% end %>
    </td>
    <td><%= book.publisher %></td>
    <td><%= book.edition %></td>
    <td>
      <a href="<%= url_for edit_admin_book_path(book) %>" class="btn btn-default">
	<span class="glyphicon glyphicon-pencil" style="color: #322dd2;"></span>
      </a>
      <a href="<%= url_for [:admin, book] %>" class="btn btn-default" data-method="delete" data-confirm="Are you sure?" rel="nofollow">
        <span class="glyphicon glyphicon-trash" style="color: #d2322d;"></span>
      </a>
    </td>
  </tr>
<% end %>
</table>

<div class="pull-right">
  <%= page_navigation_links @books%>
</div>
<a href="<%= url_for new_admin_book_path %>" class="btn btn-default">
  <span class="glyphicon glyphicon-plus" style="color: green;"></span>
  New Book
</a>
