<p id="notice"><%= notice %></p>

<div class="pull-right">
  <%= link_to 'Edit', edit_admin_book_path(@book), class: "btn btn-default btn-small" %>
  <%= link_to 'Back', admin_books_path, class: "btn btn-default btn-small" %>
</div>
<div class="s-push"></div>

<table class="table table-hover">
  <thead>
    <caption>
      <h3>Book Details</h3>
    </caption>
  </thead>
  <tbody>  
    <tr>
      <th>Title</th>
      <td><%= @book.title %></td>
    </tr>
    <tr>
      <th>Author(s)</th>
      <td>
  <% if @book.authors.length == 0 %>
    No author found for this book.
      <%= link_to 'Add Author', edit_admin_book_path(@book) %>
	<% else %>
	<ul>
    <% if not @book.authors.nil? %>
  	  <% @book.authors.each do |author| %>
  	  <li><%= link_to author.name, [:admin, author] %></li>
      <% end %>
	  <% end %>
	</ul>
	<% end %>
      </td>
    </tr>
    <tr>
      <th>Publisher</th>
      <td><%= @book.publisher %></td>
    </tr>
    <tr>
      <th>Edition</th>
      <td><%= @book.edition %></td>
    </tr>
    <tr>
      <th>ISBN</th>
      <td><%= @book.isbn %></td>
    </tr>
    <tr>
      <th>Year</th>
      <td><%= @book.year %></td>
    </tr>
    <tr>
      <th>Online Retail URL:</th>
      <td><a href="<%= @book.online_retail_url %>"><%= @book.online_retail_url %></a></td>
    </tr>
    <% if not @book.book_cover.nil? %>
      <tr>
        <th>Cover Pic:</th>
        <td><img src="<%= p @book.book_cover.cover.url(:large) %>"/></td>
      </tr>
    <% end %>

  </tbody>
</table>

