<h1>Listing topic_references</h1>

<table>
  <tr>
    <th>References</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topic_references.each do |topic_reference| %>
  <tr>
    <td><%= topic_reference.references %></td>
    <td><%= link_to 'Show', topic_reference %></td>
    <td><%= link_to 'Edit', edit_topic_reference_path(topic_reference) %></td>
    <td><%= link_to 'Destroy', topic_reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic reference', new_topic_reference_path %>
