<%= form_for([:admin, @course_list_item]) do |f| %>
  <% if @course_list_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_list_item.errors.count, "error") %> prohibited this course_list_item from being saved:</h2>

      <ul>
      <% @course_list_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= @legend %></legend>
    <div class="field">
      <%= f.label :department_id %><br />
      <%= select_tag(:course_list_item_department_id, options_for_select(@departments_array)) %>
    </div>
    <div class="field">
      <%= f.label :course_id %><br />
      <%= select_tag(:course_list_item_course_id, options_for_select(@courses_array)) %>
    </div>
    <div class="actions">
      <%= f.submit, class: "btn bt-small btn-primary" %>
      <%= link_to 'Back', admin_course_list_items_path, class: "btn btn-small" %>
    </div>
  </fieldset>
<% end %>
