
<table class="table table-hover">
  <caption>
    <h3>Listing references</h3>
  </caption>
  <thead>
    <tr>
      <th>Course reference</th>  
      <th>Topic</th>
      <th>Sections</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @references.each do |reference| %>
    <tr>
      <td><%= reference.course_reference.course.subject_code %> - <%= reference.course_reference.book.title %></td> 
      <td><%= reference.topic.course.subject_code %> - <%= reference.topic.title %></td>
      <td><%= reference.sections %></td>
      <td>
	<%= link_to 'Show', [:admin, reference], class: "btn btn-default btn-mini" %>
	<%= link_to 'Edit', edit_admin_reference_path(reference), class: "btn btn-default btn-mini" %>
	<%= link_to 'Destroy', [:admin, reference], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to "New Reference", new_admin_reference_path, class: "btn btn-small btn-primary" %>
