<%= form_for([:admin, @department]) do |f| %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @department.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= @legend %></legend>
    
    <div class="field">
      <%= f.label :short %><br />
      <%= f.text_field :short %>
    </div>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :hod %><br />
      <%= f.text_field :hod %>
    </div>
    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to "Back", admin_departments_path, class: "btn btn-small" %>
    </div>
  </fieldset>
<% end %>
