<%= form_for([:admin, @department]) do |f| %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @department.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= @legend %></legend>
    
    <div class="field">
      <%= f.text_field :short, class: "form-control", placeholder: "Short Form. eg: CSE" %>
    </div>
    <div class="field">
      <%= f.text_field :name, class: "form-control", placeholder: "Department Name" %>
    </div>
    <div class="field">
      <%= f.select :hod_id, options_for_select(@faculties_array, @hod), {}, {:class => "selectpicker show-tick show-menu-arrow", "data-live-search" => "true", :title => "Select HOD", "data-header" => "Select a HOD" } %>
    </div>
    <div class="field">
      <%= f.text_field :rollno_prefix, class: "form-control", placeholder: "Roll Number Prefix" %>
    </div>
    <div class="actions">
      <%= f.submit class: "btn btn-primary btn-large" %>
      <%= link_to "Back", admin_departments_path, class: "btn btn-default btn-small" %>
    </div>
  </fieldset>
<% end %>
