<p id="notice"><%= notice %></p>

<h4>
  <span class="label label-info"><%= @department.short %></span>
  <%= @department.name %>
  <%= link_to 'Edit', edit_admin_department_path(@department), class: 'btn btn-small pull-right' %>
</h4>

<div>
  Headed by <strong><%= @department.hod %></strong>.
</div>

<table class="table table-hover">
  <caption>
    <h3>Courses offered</h3>
  </caption>
  <thead>
    <tr>
      <th>Course</th>
      <th>Faculty</th>
      <th>Credits</th>
    </tr>
  </thead>
  <% if @department.courses.length==0 %>
  <tbody><tr>
    <td>No course found for this department.</td>
  </tr></tbody>
  <% else %>
  <tbody>
    <% @department.terms.each do |term| %>
    <% if term.semester != @current_sem %>
    <% @current_sem = term.semester  %>
    <tr>
      <th colspan="3"><%= @current_sem.ordinalize %> semester</strong></th>
    </tr>
    <% end %>
    <tr>
      <td><%= link_to term.course.name, [:admin, term.course] %></td>
      <td>
	<% term.faculties.each do |faculty| %>
	<span class="label label-info"><%= faculty.user.name %></span>
	<% end %>
      </td>
      <td><%= "#{term.course.credits}" %></td>
    </tr>
    <% end %>
  </tbody>
  <% end %>
</table>
