<p id="notice"><%= notice %></p>

<h4>
  <span class="label label-info"><%= @department.short %></span>
  <%= @department.name %>
  <%= link_to 'Edit', edit_admin_department_path(@department), class: 'btn btn-small pull-right' %>
</h4>

<div>
  Headed by <strong><%= @department.hod %></strong>.
</div>

<table class="table table-hover">
  <thead>
    <caption>
      <h3>Courses offered</h3>
    </caption>
  </thead>
  <% if @department.courses.length==0 %>
  <tbody><tr>
    <td>No course found for this department.</td>
  </tr></tbody>
  <% else %>
  <tbody>
    <% [1,2,3,4,5,6,7,8,nil].each do |sem| %>
    <% @department.course_list_items.each do |cli| %>
    <% if cli.course.this_year == sem or (not cli.course.this_year.nil? and cli.course.this_year.semester == sem) %>

    <% if @currently_showing != sem %>
    <% @currently_showing = sem %>
    <tr class="info"><th colspan="2">
	<% if sem.nil? %>
	Not being taught this year
	<% else %>
	<%= sem.ordinalize %> semester
	<% end %>
    </th></tr>
    <% end %>
    <tr class="info">
      <td>
	<strong><%= cli.course.subject_code %></strong>
      </td>
      <td>
	<%= link_to cli.course.name, [:admin, cli.course], class: "btn btn-small btn-link" %>
	<%= link_to "Remove", [:admin, cli], method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-mini btn-danger pull-right' %>
    </td></tr>
    <% end %>
    <% end %>
    <% end %>
  </tbody>
  <% end %>
</table>



<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Add a course
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">

	<%= form_for([:admin, @course_list_item]) do |f| %>
	<div class="field">
	  <%= f.hidden_field :department_id, :value => @department.id %>

	  <%= f.label :course_id %>
	  <%= f.select(:course_id, options_for_select(@courses_array), {}, :size => 10, :multiple => "multiple") %>
	</div>
	<div class="actions">
	  <%= f.submit class: 'btn btn-primary', value: 'Add Course' %>
	  <%= link_to "New Course", new_admin_course_path, class: "btn" %>
	</div>
	<% end %>



      </div>
    </div>
  </div>
</div>

