<%= form_for([:admin, @author]) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= @legend %></legend>
    <div class="field">
      <table>
        <tr>
          <td><%= f.label :name %></td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td><%= label_tag(:books, "Books Referenced") %></td>
          <td>
            <table>
              <% @author.books.each do |book|%>
                <tr><td><%= select_tag("books[]", options_for_select(@bookslist, book.id)) %></td></tr>
              <% end %>
              <tr><td><%= select_tag("books[]", options_for_select(@bookslist)) %></tr></td>
            </table>
            <a class="btn btn-primary btn-xs" id="addMoreBooks">Add More Books</a>
          </td>
        </tr>
      </table>
      
    </div>
    <div class="actions">
      <%= f.submit class: "btn btn-small btn-primary" %>
      <%= link_to 'Back', admin_authors_path, class: "btn btn-default btn-small" %>
    </div>
  </fieldset>
<% end %>