<%= form_for([:admin, @author]) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= @legend %></legend>
    <div class="field">
      <%= f.text_field :name, :size => 30, :placeholder => "Name", :class => "form-control input-lg" %>
    </div>
    <div class="field">
      <%= f.text_area :about, :rows => 10, :cols => 40, :class => "form-control", :placeholder => "About the author" %>
    </div>
    <div class="field">
      <%= label_tag(:books, "Books Referenced") %>
      <%= select_tag "books[]", options_for_select(@bookslist, @author.books.collect {|book| book.id}), {:multiple => true, :class => "selectpicker show-tick show-menu-arrow", "data-live-search" => "true", "data-width" => 'auto', :title => "Select Books(s)", "data-header" => "Select Books(s)"} %>
    </div>    
    <div class="actions">
      <%= f.submit class: "btn btn-success pull-right" %>
      <%= link_to 'Back', admin_authors_path, class: "btn btn-default btn-small" %>
    </div>
  </fieldset>
<% end %>