<div class="span12" style="text-align:center">
  <caption><h3>Listing All Authors</h3></caption>
</div>

<a href="<%= url_for new_admin_author_path %>" class="btn btn-default">
  <span class="glyphicon glyphicon-plus" style="color: green;"></span>
  New Author
</a>
<br/>
<br/>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Authors</th>
      <th>References</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
    <tr>
      <td>
        <%= link_to author.name, [:admin, author] %>
      </td>
      <td>
      	<%= author.books.length %>
      </td>
      <td>
        <div>
          <%= link_to "Edit", edit_admin_author_path(author), class: "btn btn-default btn-mini" %>
          <%= link_to "Remove", [:admin, author], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %>
      	</div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />
<a href="<%= url_for new_admin_author_path %>" class="btn btn-default">
  <span class="glyphicon glyphicon-plus" style="color: green;"></span>
  New Author
</a>
