<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @author.name %>
</p>
<p>
  <b>About:</b>
  <%= Kramdown::Document.new(@author.about).to_html.html_safe %>
</p>
<p>
  <b>Books Referenced:</b>
  <% if @author.books.length == 0 %>
    <p>No book for this author was found</p>
    <a href="<%= edit_admin_author_path(@author) %>" class="btn btn-small btn-primary">Add books for this author</a>
  <% else %>
    <ul>
      <% @author.books.each do |book| %>
      <li><%= link_to book.title, [:admin, book] %></li>
      <% end %>
    </ul>
  <% end %>

</p>

<%= link_to 'Edit', edit_admin_author_path(@author) %> |
<%= link_to 'Back', admin_authors_path %>
