<h4>
</h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th>
   <%= link_to @course.subject_code, [:admin, @course] %>
  - List of Classes
      </th>
      <th>
	Topics Covered
      </th>
    </tr>
  </thead>
  <tbody>
    
    <% @classrooms.each do |classroom| %>
    <tr>
      <td>
	<small><%= classroom.time %></small> on <small><%= classroom.date.strftime("%b %d") %></small> at <i><%= classroom.room %></i>
      </td>
      <td>
	<div class="pull-right">
	  <%= link_to 'Show', [:admin, @course, classroom], class: "btn btn-default btn-mini" %>
	  <%= link_to 'Edit', edit_admin_course_classroom_path(@course, classroom), class: "btn btn-default btn-mini" %>
	  <%= link_to 'Destroy', [:admin, @course, classroom], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %>
	</div>


	<% if classroom.topics.length == 0 %>
	No topics were covered in this class.
	<% else %>
	<ul>
	  <% classroom.topics.each do |topic| %>
	  <li><%= topic.title %></li>
	  <% end %>
	</ul>
	<% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to "Add New Class", new_admin_course_classroom_path, class: "btn btn-small btn-primary" %>
