<%= form_for([:admin, @faculty]) do |f| %>
<% if @faculty.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@faculty.errors.count, "error") %> prohibited this faculty from being saved:</h2>

  <ul>
    <% @faculty.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<fieldset>
  <legend><%= @legend %></legend>
  <div class="field">
    <%= f.select :prefix, options_for_select(@prefix_array, @faculty.prefix), {:include_blank => true}, { :class => "form-control"} %>
  </div>
  <% if @legend == "Edit Faculty" %>
    <div class="field">
      <%= text_field_tag :name, @faculty.user.name, :readonly => true, :placeholder => "name", :class => "form-control" %>
    </div>
    <div class="field">
      <%= text_field_tag :email, @faculty.user.email+"@nitt.edu", :readonly => true, :placeholder => "email id without @nitt.edu", :class => "form-control" %>
    </div>
  <% else %>
    <div class="field">
      <%= f.select :user_id, options_for_select(@users_array, @user_id), {:class => "form-control"} %>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :designation, :class => "form-control", :placeholder => "designation" %>
  </div>
  <div class="field">
      <%= f.text_area :about, :rows => 10, :cols => 40, :class => "form-control", :placeholder => "About the faculty" %>
    </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary btn-success pull-right" %>
    <%= link_to "Back", admin_faculties_path, class: "btn btn-default btn-small" %>
  </div>
</fieldset>
<% end %>
