<table class="table table-hover">
  <caption><h3>Listing faculties</h3></caption>
  <div class="pull-right">
    <%= page_navigation_links @faculties%>
  </div>
  <thead>
    <tr>
      <th>Faculty</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @faculties.each do |faculty| %>
    <tr>
      <td><%= link_to faculty.prefix+" "+faculty.user.name , [:admin, faculty] %></td>
      <td><%= faculty.user.email %>@nitt.edu</td>
      <td>
        <%= link_to 'Show', [:admin, faculty], class: "btn btn-default btn-mini" %>
        <%= link_to 'Edit', edit_admin_faculty_path(faculty), class: "btn btn-default btn-mini" %>
        <%= link_to 'Remove', [:admin, faculty], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="pull-right">
  <%= page_navigation_links @faculties%>
</div>
  
<%= link_to "New Faculty", new_admin_faculty_path, class: "btn btn-primary btn-large" %>
