<p id="notice"><%= notice %></p>

<p>
	<b>Faculty Info</b>
</p>

<p>
	<table>
		<tr>
			<td>Name:</td>
			<td><%= @faculty.prefix %><%= @faculty.user.name %></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><%= @faculty.user.email %>@nitt.edu</td>
		</tr>
		<tr>
			<td>Designation:</td>
			<td><%= @faculty.designation %></td>
		</tr>
		<tr>
			<td>About:</td>
			<td><%= Kramdown::Document.new(@faculty.about).to_html.html_safe %></td>
		</tr>
	</table>
</p>


<%= link_to 'Edit', edit_admin_faculty_path(@faculty), class: "btn btn-default" %>
<%= link_to 'Back', admin_faculties_path, class: "btn btn-default btn-small" %>
