<head>
  <title>Courses</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "uploadify", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
  <div id="wrap">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Courses</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav local navbar-nav">
          <li><%= link_to "Departments", "/departments" %></li>
        </ul>
        <% if @user.nil? %>
          <ul class="nav navbar-nav local navbar-right">
            <li id="signin_link">
              <a href="/login">Sign In</a></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <strong>
                  <i class="glyphicon glyphicon-user"></i>
                  <%= @user.name %>
                </strong>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu local" id="user_menu">
              </ul>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>
    <div class="container" id="content"></div>
  </div>
  <div id="footer">
    <div class="container">
      <p class="text-muted">
        Copyleft <span class="copyleft">&copy;</span> 2014
      </p>
    </div>
  </div>
  
  <%= render :partial => 'layouts/backbonetemplate'%>
  
  <script type="text/javascript">
    var app = window.app ? window.app : {};
    <% unless @user.nil? %>
      app["user"] = <%= raw @user.to_json %>
    <% end %>
    app["session_key"] = '<%= Rails.application.config.session_options[:key] %>';
    app["session_val"] = '<%= cookies[Rails.application.config.session_options[:key]] %>';
  </script>

  <%= javascript_include_tag "vendor" %>
  <%= javascript_include_tag "application" %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-46845942-1', 'courseshub.in');ga('send', 'pageview');
  </script>
</body>
