<head>
  <title>Courses</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "uploadify", :media => "all" %>
  <%= stylesheet_link_tag "bwizard", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Courses</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav local navbar-nav">
          <li><%= link_to "Departments", "/departments" %></li>
        </ul>
        <% if @user.nil? %>
          <ul class="nav navbar-nav local navbar-right">
            <li id="signin_link">
              <a href="/login">Sign In</a></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <strong>
                  <i class="glyphicon glyphicon-user"></i>
                  <%= @user.name %>
                </strong>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu local" id="user_menu">
              </ul>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>
    <div class="container" id="content"></div>
  </div>
  <div id="footer">
    <div class="container">
      <p class="muted credit">
  <a href="http://www.gnu.org/copyleft/" target="_blank">Copyleft</a>
  <!--[if lte IE 8]><span style="filter: FlipH; -ms-filter: "FlipH"; display: inline-block;"><![endif]-->
  <span title="copyleft" style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">
    &copy;
  </span>
  <!--[if lte IE 8]></span><![endif]-->
  
        2013 - Developed by <%= link_to "Delta Force", "http://delta.nitt.edu", target: '_blank' %>.
      </p>
    </div>
  </div>
  
  <%= render :partial => 'layouts/backbonetemplate'%>
  
  <script type="text/javascript">
    var app = window.app ? window.app : {};
    <% unless @user.nil? %>
      app["user"] = <%= raw @user.to_json %>
    <% end %>
    app["session_key"] = '<%= Rails.application.config.session_options[:key] %>';
    app["session_val"] = '<%= cookies[Rails.application.config.session_options[:key]] %>';
  </script>

  <%= javascript_include_tag "vendor" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
    renderSignupModal(app.user);
  </script>
</body>
