<head>
  <title>Courses</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "bwizard", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
	<a class="brand" href="/">Courses</a>
	<ul class="nav local">
	  <li class="divider-vertical"></li>
	  <li><%= link_to "Departments", "/departments" %></li>
	</ul>
	<% if @user.nil? %>
	<ul class="nav local pull-right">
	  <li id="signin_link">
	    <a href="/login">Sign In</a></li>
	</ul>
	<% else %>
	<ul class="nav pull-right">
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	      <strong>
		<i class="icon-user"></i>
		  <%= @user[:name] %></strong>
	      <b class="caret"></b>
	    </a>
	    <ul class="dropdown-menu local" role="menu" aria-labelledby="dropdownMenu">
	      <li class="nav-header">My Courses</li>
	      <li><a href="/terms/2">Advanced Database Management Systems</a></li>
	      <li><a href="/terms/1">Real-Time Systems</a></li>
	      <li><a href="/terms/15">Data Warehousing and Data Mining</a></li>
	      <li><a href="/terms/5">Industrial Economics</a></li>
	      <li class="divider"></li>
	      <li><a href="/me">My Profile</a></li>
	      <li><a href="/signout">Sign out</a></li>
	    </ul>
	  </li>
	</ul>
	<% end %>
      </div>
    </div>
  </div>
  <div id="wrap">
    <div class="container" id="content"></div>
  </div>
  <div id="footer">
    <div class="container">
      <p class="muted credit">
	<a href="http://www.gnu.org/copyleft/" target="_blank">Copyleft</a>
	<!--[if lte IE 8]><span style="filter: FlipH; -ms-filter: "FlipH"; display: inline-block;"><![endif]-->
	<span title="copyleft" style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">
	  &copy;
	</span>
	<!--[if lte IE 8]></span><![endif]-->
	
	2013 - Developed by <%= link_to "Shiva Nandan", "https://github.com/seekshiva", target: '_blank' %>.
      </p>
    </div>
  </div>

  <script type="text/template" id="login-template">
    <form class="form-signin" action="/authenticate" method="post">
      <h2 class="form-signin-heading">Please sign in</H2>
      <% unless flash[:notice].nil? %>
      <div class="alert <%= flash[:notice_type] %>">
	<%= flash[:notice] %>
      </div>
      <% end %>
      <p class="alert alert-info">
	Enter your nitt webmail credentials
      </p>
      <div class="field">
	<div class="input-append">
	  <input type="text" name="username" style="text-align: right" class="input-small" placeholder="username">
	  <span class="add-on">@nitt.edu</span>
	</div>
      </div>
      <div class="field">
	<input type="password" name="password" style="text-align: right; " class="input-medium" placeholder="password">
      </div>
      <div class="field">
	<input type="submit" class="btn btn-large btn-primary" value="Sign In">
      </div>
    </form>
  </script>
  
  <script type="text/template" id="departments-template">
    <table class="table table-hover">
      <thead>
	<tr>
	  <th>Department</th>
	  <th>HOD</th>
	</tr>
      </thead>
      <tbody>
	{{#each depts}}
	<tr>
	  <td>
	    <a href="/departments/{{this.id}}">{{this.name}}</a>
	  </td>
	  <td>{{this.hod}}</td>
	</tr>
	{{/each}}
      </tbody>
    </table>
  </script>

  <script type="text/template" id="department-template">
    <h3 style="font-weight: 400; ">
      <a href="/departments" class="btn btn-small" title="Department List">
	<i class="icon-chevron-left"></i>
      </a>
      <small>{{dept.short}}</small>
      {{dept.name}}
    </h3>
    <div>
      Headed by <strong>{{dept.hod}}</strong>
    </div>
    <div class="s-push"></div>

    <table class="table table-hover">
      <caption>
	<h3>Courses Offered</h3>
      </caption>
      <thead>
	<tr>
	  <th>Course</th>
	  <th>Course Instructor</th>
	  <th># credits</th>
	</tr>
      </thead>
      <tbody>
	{{#each dept.course_listing}}
	<tr><th colspan="3">{{this.semester}}</th></tr>
	{{#each this.course_list}}
	<tr>
	  <td>
	    <a href="/terms/{{this.term_id}}">
	      {{this.code}} - {{this.name}}
	    </a>
	  </td>
	  <td>
	    <small>
	      {{#each this.instructors}}
	      <div>{{this.name}}</div>
	      {{/each}}
	    </small>
	  </td>
	  <td>{{this.credits}}</td>
	</tr>
	{{/each}}

	{{/each}}
      </tbody>
    </table>
  </script>


  <script type="text/template" id="course-template">
    <h3>
      <small>{{course.code}}</small>
      {{course.name}}
    </h3>
    {{#if course.instructors}}
    <p>
      <strong>Course Instructor:</strong>
      {{#each course.instructors}}
      <span>{{this.instructor}}</span>
      {{/each}}
    </p>
    {{/if}}

    <ul class="nav nav-tabs" id="specialized_view_selector">
      <li class="span2">
	<span class="nav_container">
	  <strong class="label label-info">{{course.credits}} credits</strong>
	</span>
      </li>
      <li id="view_course_info"><a href="/courses/{{course.id}}/info">Info</a></li>
      <li id="view_course_topics"><a href="/courses/{{course.id}}/topics">Topics</a></li>
      <li id="view_course_classes"><a href="/courses/{{course.id}}/classes">Classes</a></li>
      <li id="view_course_reference"><a href="/courses/{{course.id}}/reference">
	  Reference Material
	  <small class="badge">{{course.reference_books.length}}</small>
      </a></li>
    </ul>
    <div id="specialized_view"></div>
 </script>

  
  <script type="text/template" id="course-info-template">
    <div class="tabbable tabs-left">
      <ul class="nav nav-list local-nav">
	<li class="active"><a href="#info1" data-toggle="tab">Overview</a></li>
	<li><a href="#info2" data-toggle="tab">Instructor</a></li>
	<li><a href="#info3" data-toggle="tab">Outline</a></li>
      </ul>
      <div class="tab-content">
	<div class="tab-pane active" id="info1">
	  <h4>Overview</h4>
	  <table class="table bottom_line">
	    <tr>
	      <td colspan="2">
		{{{course.about}}}
	      </td>
	    </tr>
	    <tr>
	      <th>
		<strong>Course Instructor</strong>
	      </th>
	      <td>
		{{#each course.instructors}}
		{{this.instructor}}
		{{/each}}
	      </td>
	    </tr>
	    <tr>
	      <th>
		<strong>Departments Offered</strong>
	      </th>
	      <td>
		{{#each course.departments}}
		{{this.name}}
		{{/each}}
	      </td>
	    </tr>
	  </table>
	</div>
	<div class="tab-pane" id="info2">
	  {{#each course.instructors}}
	  <h4>{{this.instructor}}</h4>
	  <p>David Malan is a Senior Lecturer on Computer Science at Harvard. He recieved his B.E, M.E, Ph.D. in Computer Science from the same in 1999, 2004, and 2007, respectively.</p>
	  <p>David Malan's research in graduate school focused primarily on cyber security and computer forensics.</p>
	  {{/each}}
	</div>
	<div class="tab-pane" id="info3">
	  <h4>Outline</h4>
	</div>
      </div>
    </div>
  </script>
  
  <script type="text/template" id="course-topics-template">
    {{#if course.topics}}
    <div class="tabbable tabs-left">
      <ul class="nav nav-list local-nav">
	<li class="active"><a href="#_topic_all" data-toggle="tab">All</a></li>
	{{#each course.topics}}
	<li><a href="#_topic_{{this.id}}" data-toggle="tab">{{this.title}}</a></li>
	{{/each}}
      </ul>
      <div class="tab-content">
	<div class="tab-pane active _topic_list" id="_topic_all">
	  <table class="table bottom_line">
	    <tbody>
	      {{#each course.topics}}
	      {{#each this.sections}}
	      <tr><td>
		  <dl>
		    <dt>
		      {{this.title}}
		      <span class="label label-success">{{this.ct_status}}</span>
		    </dt>
		    <dd>
		      <p>
			<small>
			  {{#if this.classes}}
			  This topic was taught on
			  {{#each this.classes}}
			  {{this.date}}
			  {{/each}}
			  
			  {{else}}
			  This topic has not been taught so far this semester
			  {{/if}}
			</small>
		      </p>

		      <p>{{this.description}}</p>
		      <table class="table table-bordered">
			<thead><tr>
			    {{#each this.reference}}
			    <th><small>{{this.book}}</small></th>
			    {{/each}}
			</tr></thead>
			<tbody><tr>
			    {{#each this.reference}}
			    <td><small>{{this.indices}}</small></td>
			    {{/each}}
			</tr></tbody>
		      </table>
		    </dd>
		  </dl>
	      </td></tr>
	      {{/each}}
	      {{/each}}
	    </tbody>
	  </table>
	</div>


	{{#each course.topics}}
	<div class="tab-pane _topic_list" id="_topic_{{this.id}}">
	  <table class="table bottom_line">
	    <tbody>
	      {{#unless this.sections}}
	      <tr><td>
		  No Sections found under this topic
	      </td></tr>
	      {{/unless}}
	      {{#each this.sections}}
	      <tr><td>
		  <dl>
		    <dt>
		      {{this.title}}
		      <span class="label label-success">{{this.ct_status}}</span>
		    </dt>
		    <dd>
		      <p>
			<small>
			  {{#if this.classes}}
			  This topic was taught on
			  {{#each this.classes}}
			  {{this.date}}
			  {{/each}}
			  
			  {{else}}
			  This topic has not been taught so far this semester
			  {{/if}}
			</small>
		      </p>

		      <p>{{this.description}}</p>
		      <table class="table table-bordered">
			<thead><tr>
			    {{#each this.reference}}
			    <th><small>{{this.book}}</small></th>
			    {{/each}}
			</tr></thead>
			<tbody><tr>
			    {{#each this.reference}}
			    <td><small>{{this.indices}}</small></td>
			    {{/each}}
			</tr></tbody>
		      </table>
		    </dd>
		  </dl>
	      </td></tr>
	      {{/each}}
	    </tbody>
	  </table>
	</div>
	{{/each}}
      </div>
    </div>
    {{else}}

    <table class="table bottom_line">
      <tbody>
	<tr><td style="padding: 20px;">
	    No topic found for this course.
	</td></tr>
      </tbody>
    </table>

    {{/if}}
  </script>
  
  <script type="text/template" id="course-classes-template">
    <table class="table bottom_line">
      <tbody>
	{{#unless course.classes}}
	<tr><td>
	    No classes have been taught in this course this semester.
	</td></tr>
	{{/unless}}
	{{#each course.classes}}
	<tr><td>
	    <dl>
	      <dt>
		{{this.date}}, {{this.time}}
		<small>at {{this.room}}</small>
	      </dt>
	      <dd>
		<strong>
		  Topics covered
		</strong>
		<ul>
		  {{#each this.topics}}
		  <li>
		    {{this.title}}
		  </li>
		  {{/each}}
		</ul>
	      </dd>
	    </dl>
	</td></tr>
	{{/each}}
      </tbody>
  </script>

  <script type="text/template" id="course-reference-template">
    {{#if course.reference_books}}
    
    <div class="tabbable tabs-left">
      <ul class="nav nav-list local-nav">
	<li class="active"><a href="#_reference_books" data-toggle="tab">Books</a></li>
      </ul>
      <div class="tab-content">
	<div class="tab-pane active _reference_list" id="_reference_books">
	  <table class="table bottom_line">
	    <tbody>
	      {{#each course.reference_books}}
	      <tr><td style="padding-right: 20px; ">
		  <h4>
		    {{this.title}}
		    <small>({{this.year}})</small>
		  </h4>
		  <table class="table table-striped table-condensed">
		    <tbody>
		      </td></tr>
		      <tr><th>
			  Authors
			</th><td>
			  <ul>
			    {{#each this.authors}}
			    <li>{{this.name}}</li>
			    {{/each}}
			  </ul>
		      </td></tr>
		      <tr><th>
			  Publisher
			</th><td>
			  {{this.publisher}}
		      </td></tr>
		      <tr><th>
			  Edition
			</th><td>
			  {{this.edition}}
		      </td></tr>
		      <tr><th>
			  ISBN
			</th><td>
			  {{this.isbn}}
		      </td></tr>
		    </tbody>
		  </table>
	      </td></tr>
	      {{/each}}
	  </table>
	</div>
      </div>
    </div>

    {{else}}

    <table class="table bottom_line">
      <tbody>
	<tr><td style="padding: 20px;">
	    No Reference material found for this book.
	</td></tr>
      </tbody>
    </table>

    {{/if}}
  </script>


  <script type="text/template" id="term-template">
    <h3>
      <a href="/terms/{{term.id}}/topics{{#unless edit_mode}}/edit{{/unless}}" class="btn btn-small {{#if edit_mode}}active btn-success{{/if}}">
	<i class="icon-pencil"></i>
      </a>
      <small>{{term.course.code}}</small>
      {{term.course.name}}
    </h3>
    {{#if term.instructors}}
    <p>
      <strong>Course Instructor:</strong>
      {{#each term.instructors}}
      <span>{{this.instructor}}</span>
      {{/each}}
    </p>
    {{/if}}

    <ul class="nav nav-tabs" id="specialized_view_selector">
      <li class="span2">
	<span class="nav_container">
	  <strong class="label label-info">{{term.course.credits}} credits</strong>
	</span>
      </li>
      <li id="view_term_info"><a href="/terms/{{term.id}}/info">Info</a></li>
      <li id="view_term_topics"><a href="/terms/{{term.id}}/topics">Topics</a></li>
      <li id="view_term_classes"><a href="/terms/{{term.id}}/classes">Classes</a></li>
      <li id="view_term_reference"><a href="/terms/{{term.id}}/reference">
	  Reference Material
	  <small class="badge">{{term.course.reference_books.length}}</small>
      </a></li>
    </ul>
    <div id="specialized_view" class="{{edit_mode}}"></div>
  </script>

  
  <script type="text/template" id="term-info-template">
    <div class="tabbable tabs-left">
      <ul class="nav nav-list local-nav">
	<li class="active"><a href="#info1" data-toggle="tab">Overview</a></li>
	<li><a href="#info2" data-toggle="tab">Instructor</a></li>
	<li><a href="#info3" data-toggle="tab">Outline</a></li>
      </ul>
      <div class="tab-content">
	<div class="tab-pane active" id="info1">
	  <h4>Overview</h4>
	  <table class="table bottom_line">
	    <tr>
	      <td colspan="2">
		{{{term.course.about}}}
	      </td>
	    </tr>
	    <tr>
	      <th>
		<strong>Course Instructor</strong>
	      </th>
	      <td>
		{{#each term.instructors}}
		{{this.instructor}}
		{{/each}}
	      </td>
	    </tr>
	    <tr>
	      <th>
		<strong>Departments Offered</strong>
	      </th>
	      <td>
		{{#each term.departments}}
		{{this.name}}
		{{/each}}
	      </td>
	    </tr>
	  </table>
	</div>
	<div class="tab-pane" id="info2">
	  {{#each term.instructors}}
	  <h4>{{this.instructor}}</h4>
	  <p>David Malan is a Senior Lecturer on Computer Science at Harvard. He recieved his B.E, M.E, Ph.D. in Computer Science from the same in 1999, 2004, and 2007, respectively.</p>
	  <p>David Malan's research in graduate school focused primarily on cyber security and computer forensics.</p>
	  {{/each}}
	</div>
	<div class="tab-pane" id="info3">
	  <h4>Outline</h4>
	</div>
      </div>
    </div>
  </script>
  
  <script type="text/template" id="term-topics-template">
    {{#if term_topics}}
    <div id="topic_filter">
      <div class="pull-right">
	<input type="search" class="search-query" placeholder="Search a Topic">
      </div>
      <small class="muted">Filters:</small>
      <div id="ct_status_selector" class="btn-group" title="You can choose multiple options at once">
	<button class="{{selectors.ct_status.ct1}} btn btn-small">CT 1</button>
	<button class="{{selectors.ct_status.ct2}} btn btn-small">CT 2</button>
	<button class="{{selectors.ct_status.postct}} btn btn-small">Post CT</button>
      </div>
    </div>
    <div class="tabbable tabs-left">
      <ul class="nav nav-list local-nav">
	{{#unless edit_mode}}
	<li><a href="#_topic_all" data-toggle="tab">All</a></li>
	{{/unless}}
	{{#each term_topics}}
	<li class="{{#if this.active}}active{{/if}}">
	  <a href="#_topic_{{this.id}}" data-toggle="tab">
	    <div class="badge pull-right">{{this.sections.length}}</div>
	    {{this.short_title}}
	  </a>
	</li>
	{{/each}}
      </ul>
      <div class="tab-content">
	{{#unless edit_mode}}
	<div class="tab-pane _topic_list hide" id="_topic_all">
	  <table class="table bottom_line">
	    <tbody>
	      {{#each term_topics}}
	      {{#each this.sections}}
	      <tr><td>
		  <dl>
		    <dt>
		      {{this.title}}
		      <span class="label label-success">{{this.ct_status}}</span>
		    </dt>
		    <dd>
		      <p>
			<small>
			  {{#if this.classes}}
			  This topic was taught on
			  {{#each this.classes}}
			  {{this.date}}
			  {{/each}}
			  
			  {{else}}
			  This topic has not been taught so far this semester
			  {{/if}}
			</small>
		      </p>

		      <p>{{this.description}}</p>
		      <table class="table table-bordered">
			<thead><tr>
			    {{#each this.reference}}
			    <th><small>{{this.book}}</small></th>
			    {{/each}}
			</tr></thead>
			<tbody><tr>
			    {{#each this.reference}}
			    <td><small>{{this.indices}}</small></td>
			    {{/each}}
			</tr></tbody>
		      </table>
		    </dd>
		  </dl>
	      </td></tr>
	      {{/each}}
	      {{/each}}
	    </tbody>
	  </table>
	</div>
	{{/unless}}


	{{#each term_topics}}
	<div class="tab-pane _topic_list {{#if this.active}}active{{/if}}" id="_topic_{{this.id}}">
	  <table class="table bottom_line">
	    <tbody>
	      <tr><td>
		  <h4>{{this.title}}</h4>
	      </td></tr>
	      {{#unless this.sections}}
	      <tr><td>
		  No Sections found under this topic
	      </td></tr>
	      {{/unless}}
	      {{#each this.sections}}
	      <tr><td>
		  <dl>
		    <dt>
		      {{#if ../../edit_mode}}
		      <div class="btn-group pull-right">
			<div class="btn btn-mini">
			  <i class="icon-pencil"></i>
			</div>
			<div class="btn btn-mini">
			  <i class="icon-move"></i>
			</div>
			<div class="btn btn-mini btn-danger">
			  <i class="icon-trash icon-white"></i>
			</div>
		      </div>
		      {{/if}}
		      {{this.title}}
		      <span class="label label-success">{{this.ct_status}}</span>
		    </dt>
		    <dd>
		      <p>
			<small>
			  {{#if this.classes}}
			  This topic was taught on
			  {{#each this.classes}}
			  {{this.date}}
			  {{/each}}
			  
			  {{else}}
			  This topic has not been taught so far this semester
			  {{/if}}
			</small>
		      </p>

		      <p>{{this.description}}</p>
		      <table class="table table-bordered">
			<thead><tr>
			    {{#each this.reference}}
			    <th><small>{{this.book}}</small></th>
			    {{/each}}
			</tr></thead>
			<tbody><tr>
			    {{#each this.reference}}
			    <td><small>{{this.indices}}</small></td>
			    {{/each}}
			</tr></tbody>
		      </table>
		    </dd>
		  </dl>
	      </td></tr>
	      {{/each}}
	    </tbody>
	  </table>
	</div>
	{{/each}}
      </div>
    </div>
    {{else}}

    <table class="table bottom_line">
      <tbody>
	<tr><td style="padding: 20px;">
	    No topic found for this course.
	</td></tr>
      </tbody>
    </table>

    {{/if}}
  </script>
  
  <script type="text/template" id="term-classes-template">
    <table class="table bottom_line">
      <tbody>
	{{#unless term.classes}}
	<tr><td>
	    No classes have been taught in this course this semester.
	</td></tr>
	{{/unless}}
	{{#each term.classes}}
	<tr><td>
	    <dl>
	      <dt>
		{{this.date}}, {{this.time}}
		<small>at {{this.room}}</small>
	      </dt>
	      <dd>
		<strong>
		  Topics covered
		</strong>
		<ul>
		  {{#each this.topics}}
		  <li>
		    {{this.title}}
		  </li>
		  {{/each}}
		</ul>
	      </dd>
	    </dl>
	</td></tr>
	{{/each}}
      </tbody>
  </script>

  <script type="text/template" id="term-reference-template">
    {{#unless term.course.reference_books}}

    <table class="table bottom_line">
      <tbody>
	<tr><td style="padding: 20px;">
	    No Reference material found for this book.
	</td></tr>
      </tbody>
    </table>

    {{else}}
    
    <div class="tabbable tabs-left">
      <ul class="nav nav-list local-nav">
	<li class="active"><a href="#_reference_books" data-toggle="tab">Books</a></li>
      </ul>
      <div class="tab-content">
	<div class="tab-pane active _reference_list" id="_reference_books">
	  <table class="table bottom_line">
	    <tbody>
	      {{#each term.course.reference_books}}
	      <tr><td style="padding-right: 20px; ">
		  <h4>
		    {{this.title}}
		    <small>({{this.year}})</small>
		  </h4>
		  <table class="table table-striped table-condensed">
		    <tbody>
		      </td></tr>
		      <tr><th>
			  Authors
			</th><td>
			  <ul>
			    {{#each this.authors}}
			    <li>{{this.name}}</li>
			    {{/each}}
			  </ul>
		      </td></tr>
		      <tr><th>
			  Publisher
			</th><td>
			  {{this.publisher}}
		      </td></tr>
		      <tr><th>
			  Edition
			</th><td>
			  {{this.edition}}
		      </td></tr>
		      <tr><th>
			  ISBN
			</th><td>
			  {{this.isbn}}
		      </td></tr>
		    </tbody>
		  </table>
	      </td></tr>
	      {{/each}}
	  </table>
	</div>
      </div>
    </div>

    {{/unless}}
  </script>



  <script type="text/template" id="404-template">
    <h3 style="font-size: 60px; margin: 30px; ">Its a 404!</h3>
    <p class="lead">This means, the page you're trying to access does not exist!</p>
    <div>
      <a href="javascript:history.back()" class="btn">
	<i class="icon-chevron-left"></i> Back
      </a>
      <a href="/" class="btn">
	<i class="icon-home"></i> Home
      </a>
    </div>
  </script>

  <% unless @user.nil? %>
  <div id="profileModal" class="modal hide fade" tabindex="-1">
    <div class="modal-header">
      <button class="close pull-right" data-dismiss="modal">&times;</button>
      <h3><%= @user.name %></h3>
      <div>
	<%= link_to "#{@user.email}@nitt.edu", "mailto:#{@user.email}@nitt.edu" %>
      </div>
    </div>
    <div class="modal-body">
      <div>
	<%= link_to "Department of #{@user.department.name}", "/departments/#{@user.department.id}" %>
      </div>
      <strong>Courses attending:</strong>
      <ul>
	<li>Hi</li>
      </ul>
    </div>
    <div class="modal-footer">
      <button class="btn">Edit</button>
    </div>
  </div>
  <% end %>

  <% unless @user.nil? %>
  <script type="text/javascript">
    var app = window.app ? window.app : {};
    app.user = <%= raw @user.to_json %>
  </script>
  <% end %>

  <%= javascript_include_tag "vendor" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
    renderSignupModal(app.user);
  </script>
</body>
