<head>
  <title>Profile Info</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
	<ul class="nav">
	  <li><a class="brand">Courses</a></li>
	</ul>
      </div>
    </div>

    <div>
      <h3>Welcome!</h3>
      <p>Looks like you're logging in here for the first time.</p>
      <p>Can you provide us with more info?</p>
      <div class="s-push"></div>
      
      <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
      <div id="error_explanation">
	<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

	<ul>
	  <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
	  <% end %>
	</ul>
      </div>
      <% end %>

      <div class="field">
	<%= f.text_field :name, placeholder: "Name", class: "input-xxlarge" %>
	<%= f.hidden_field :email %>
      </div>
      <div class="field">
	<span class="uneditable-input input-xxlarge"><%= @user.email %>@nitt.edu</span>
      </div>
      <div class="field">
	<%= password_field_tag("password", "", placeholder: "Re-enter Webmail Password", class: "input-xxlarge") %>
      </div>

      <div class="field">
	<%= f.text_field :designation, placeholder: "Designation", class: "input-xxlarge" %>
      </div>
      <div class="field">
	<%= f.select(:department_id, options_for_select(@departments_array, @user.department_id), {}, class: "input-xxlarge") %>
      </div>
      <div class="form-actions">
	<%= f.submit class: "btn btn-primary", value: "Register" %>
      </div>
      <% end %>

    </div>
  </div>


  <%= javascript_include_tag "application" %>

</body>
