<h1>Listing class_topics</h1>

<table>
  <tr>
    <th>Class</th>
    <th>Topic</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @class_topics.each do |class_topic| %>
  <tr>
    <td><%= class_topic.class %></td>
    <td><%= class_topic.topic %></td>
    <td><%= link_to 'Show', [:admin, @course, class_topic] %></td>
    <td><%= link_to 'Edit', edit_admin_course_class_topic_path(@course, class_topic) %></td>
    <td><%= link_to 'Destroy', [:admin, @course, class_topic], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Class topic', new_admin_course_class_topic_path(@course), class: "btn btn-small btn-primary" %>
