<%= content_for :page_title, 'Courses - Help' %>
<h3>CoursesHub Help</h3>
<span class="text-muted">Sometimes you just need a little help.</span>
<hr/>
<div class="well">We have categorized help pages based on the type of user. Choose your role.</div>
<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="<%= asset_path 'student.png' %>" alt="...">
			<div class="caption">
				<h3><%= link_to 'Students', page_path("help/student")%></h3>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="<%= asset_path 'professor.png' %>" alt="...">
			<div class="caption">
				<h3><%= link_to 'Faculty', page_path("help/faculty")%></h3>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="<%= asset_path 'admin.png' %>" alt="...">
			<div class="caption">
				<h3><%= link_to 'Administrator', page_path("help/admin")%></h3>
			</div>
		</div>
	</div>
</div>

