<p id="notice"><%= notice %></p>

<p>
  <b>Book:</b>
  <%= link_to @book_author.book.title, @book_author.book %>
</p>

<p>
  <b>Author:</b>
  <%= link_to @book_author.author.name, @book_author.author %>
</p>


<%= link_to 'Edit', edit_book_author_path(@book_author) %> |
<%= link_to 'Back', book_authors_path %>
