<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "long-input" %>
  </div>
  <div class="field">
    <%= f.label :publisher %>
    <%= f.text_field :publisher, class: "long-input" %>
  </div>
  <div class="field">
    <%= f.label :edition %>
    <%= f.text_field :edition, class: "long-input" %>
  </div>
  <div class="field">
    <%= f.label :isbn %>
    <%= f.text_field :isbn, class: "long-input" %>
  </div>
  <div class="field">
    <%= f.label :year %>
    <%= f.text_field :year, class: "long-input" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
