<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @course_faculty.course %>
</p>

<p>
  <b>Faculty:</b>
  <%= @course_faculty.faculty %>
</p>


<%= link_to 'Edit', edit_course_faculty_path(@course_faculty) %> |
<%= link_to 'Back', course_faculties_path %>
