<p id="notice"><%= notice %></p>

<div class="pull-right">
  <%= link_to 'Back', courses_path, class: 'btn btn-small' %>
  <%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-small' %>
</div>

<h3>
  <span class="label label-info"><%= @course.subject_code %></span>
  <%= @course.name %>
</h3>
<p>
  This course is offered by <%= pluralize @course.departments.length, 'department' %>
  <% if @course.departments.length > 0 %>
  <strong>(
    <% @course.departments.each do |department| %>
    <%= link_to department.short, department %>
    <% end %>
    ).
  </strong>
  <% end %>

  It is a <strong><%= @course.credits %></strong> credit course.
</p>

<div>
  <strong>Course History:</strong>
  <% if @course.terms.empty? %>
  <p>
    This course has not been held so far. <%= link_to "Add new Term", new_term_path %>
  </p>
  <% else %>
  <ul>
    <% @course.terms.each do |term| %>
    <% unless term.new_record? %>
    <li>
      <%= link_to "#{term.academic_year}-#{term.academic_year+1} - #{term.semester.ordinalize} semester", term, rel: 'tooltip', title: 'Current' %>
      
      <% if(term.is_current?) %>
      <span class="label label-info">current</span>
      <% end %>
    </li>
    <% end %>
    <% end %>
  </ul>
  <% end %>
</div>

<div class="push"></div>
<table class="table table-hover">
  <thead>
    <caption><h4>
	Topics
    </h4></caption>
  </thead>
  <tbody>
    <% if @course.topics.length == 1 %>
    <tr><td>
      No topic found for this course.
    </td></tr>
    <% else %>
    <% @course.topics.each do |topic| %>
    <% unless topic.new_record? %>
    <tr><td>
	<strong><%= link_to topic.title, [@course, topic], class: "" %></strong>
	<p><%= topic.description %></p>
    </td></tr>
    <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>

<div class="push"></div>


<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Add New Term
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">

	<%= form_for(@new_term) do |f| %>
	<div class="field">
	  <span term_course_id, options_for_select(@courses_array)) %>
	    <%= f.label :course_id %>
	    <%= select_tag(:term_course_id, options_for_select(@courses_array, @course.id)) %>
	  </span>
	  <span term_course_id, options_for_select(@courses_array)) %>
	    <%= f.label :academic_year %>
	    <%= f.number_field :academic_year, value: @current_ac_year %>
	  <span class="help-block">
	    Enter the begining of the academic year. If the academic year is 2012-2013, you have to enter 2012.
	  </span>
	</div>
	<div class="field">
	  <%= f.label :semester %>
	  <%= f.number_field :semester %>
	</div>
	<div class="actions">
	  <%= f.submit class: 'btn btn-primary' %>
	</div>
	<% end %>
      </div>
    </div>
  </div>
</div>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Add New Topic
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">

	<%= form_for [@course, @new_topic] do |f| %>
	<fieldset>
	  <legend><%= @legend %></legend>
	  <div class="field">
	    <%= f.label :title %><br />
	    <%= f.text_field :title %>
	  </div>
	  <div class="field">
	    <%= f.label :description %><br />
	    <%= f.text_area :description, :rows => 4 %>
	  </div>
	  <div class="actions">
	    <%= f.submit class: 'btn btn-primary' %>
	  </div>
	</fieldset>
	<% end %>
      </div>
    </div>
  </div>
</div>



