<%= form_for(@course_faculty) do |f| %>
  <% if @course_faculty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_faculty.errors.count, "error") %> prohibited this course_faculty from being saved:</h2>

      <ul>
      <% @course_faculty.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course %><br />
    <%= f.text_field :course %>
  </div>
  <div class="field">
    <%= f.label :faculty %><br />
    <%= f.text_field :faculty %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
