<h3>Listing course_faculties</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Course</th>
      <th>Faculty</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @course_faculties.each do |course_faculty| %>
    <tr>
      <td><%= course_faculty.course %></td>
      <td><%= course_faculty.faculty %></td>
      <td>
	<%= link_to 'Show', term_faculty %>
	<%= link_to 'Edit', edit_admin_term_faculty_path(term_faculty) %>
	<%= link_to 'Destroy', term_faculty, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Course faculty', new_admin_course_faculty_path %>
