<%= form_for([:admin, @course, @term]) do |f| %>
  <% if @term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@term.errors.count, "error") %> prohibited this term from being saved:</h2>

      <ul>
      <% @term.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <fieldset>
    <legend><%= @legend %></legend>

    <div class="field">
      <%= f.label :course_id %>
      <span class="form-control-static input-lg"><%=  "#{@course.subject_code} - #{@course.name}" %></span>
      <%= f.hidden_field :course_id, value: @course.id %>
    </div>
    <div class="field">
      <%= f.label :academic_year %>
      <%= f.number_field :academic_year, value: @term.academic_year || 0.year.from_now.year, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :semester %>
      <%= f.select :semester, options_for_select(@options, @term.semester), {}, { :class => "selectpicker show-tick show-menu-arrow", :title => "Select a Semester", "data-header" => "Select a semester" } %>
    </div>
    <div class="field">
      <%= label_tag(:departments, "Department(s):") %>
      <%= select_tag "departments[]", options_for_select(@departmentslist, @term.departments.collect {|dept| dept.id}), { :multiple => true, :class => "selectpicker show-tick show-menu-arrow", "data-live-search" => "true", :title => "Select Department(s)", "data-header" => "Select Department(s)"  } %>
    </div>
    <div class="field">
      <%= label_tag(:faculties, "Faculty:") %>
      <%= select_tag "faculties[]", options_for_select(@facultieslist, @term.faculties.collect {|faculty| faculty.id}), { :multiple => true, :class => "selectpicker show-tick show-menu-arrow", "data-live-search" => "true", :title => "Select Faculty", "data-header" => "Select Faculty"  } %>
    </div>
    <% if !@tab.nil? && @tab != "new" %>
      <div class="field">
        <%= label_tag(:books, "Reference Books:") %>
        <%= select_tag "books[]", options_for_select(@bookslist, @term.books.collect {|book| book.id}), { :multiple => true, :class => "selectpicker show-tick show-menu-arrow", "data-live-search" => "true", :title => "Select Reference Books", "data-header" => "Select Reference Books"  } %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to 'Back', admin_course_terms_path(@course), class: "btn btn-default btn-small" %>
    </div>
  </fieldset>
<% end %>
