<%= form_for([:admin, @course, @term]) do |f| %>
  <% if @term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@term.errors.count, "error") %> prohibited this term from being saved:</h2>

      <ul>
      <% @term.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <fieldset>
    <legend><%= @legend %></legend>

    <div class="field">
      <%= f.label :course_id %>
      <span class="input-xxlarge uneditable-input"><%=  "#{@course.subject_code} - #{@course.name}" %></span>
      <%= f.hidden_field :course_id, value: @course.id %>
    </div>
    <div class="field">
      <%= f.label :academic_year %>
      <%= f.number_field :academic_year, value: 0.year.from_now.year %>
    </div>
    <div class="field">
      <%= f.label :semester %>
      <%= f.select :semester, options_for_select(@options) %>
    </div>
    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to 'Back', admin_course_terms_path(@course), class: "btn btn-default btn-small" %>
    </div>
  </fieldset>
<% end %>
