<table class="table table-hover">
  <caption><h4><%= @course.subject_code %> : History of Courses Offered</h4></caption>
  <thead>
    <tr>
      <th>Course</th>
      <th>Status</th>
      <th>Academic year</th>
      <th>Semester</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  
  <tbody>
    <% @terms.each do |term| %>
    <tr>
      <td><%= link_to "#{term.course.subject_code} - #{term.course.name}", [:admin, @course, term], class: "btn btn-small btn-link" %></td>
      <td>
        <% if term.is_current? %><div class="label label-success">In Progress
        <% elsif term.this_year? 
            if term.is_odd_term?%><div class="label label-default">Completed
          <% else %><div class="label label-info">Scheduled
        <%  end 
            else %><div class="label label-default">Completed
        <% end %>
        </div></td>
      <td><%= "#{term.academic_year}-#{term.academic_year+1}" %></td>
      <td><%= term.semester %></td>
      <td><%= link_to 'Edit', edit_admin_course_term_path(@course, term), class: "btn btn-default btn-mini" %></td>
      <td><%= link_to 'Remove', [:admin, @course, term], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= link_to 'Back', admin_courses_path, class: "btn btn-default pull-left" %>
<%= link_to 'New Term', new_admin_course_term_path, class: "btn btn-default btn-primary pull-right" %>
