<p id="notice"><%= notice %></p>


<p>
  <b>#<%= @term.id %></b>
</p>
<p>
  <b>Course:</b>
  <%= link_to @term.course.subject_code + " - " + @term.course.name, [:admin, @term.course] %>
</p>

<p>
  <b>Academic year:</b>
  <%= "#{@term.academic_year}-#{@term.academic_year+1}" %>
</p>

<p>
  <b>Semester:</b>
  <%= @term.semester %>
</p>

<p>
  <b>Departments:</b>
  <ul>
    <% @term.departments.each do |dept| %>
      <li><%= dept.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Faculty:</b>
  <ul>
    <% @term.faculties.each do |faculty| %>
      <li><%= faculty.user.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Back', [:admin, @term.course], class: "btn btn-default pull-left" %>
<%= link_to 'Edit', [:edit, :admin, @course, @term], class: "btn btn-default pull-right" %>
