<p id="notice"><%= notice %></p>


<p>
  <b>#<%= @term.id %></b>
</p>
<p>
  <b>Course:</b>
  <%= link_to @term.course.subject_code + " - " + @term.course.name, [:admin, @term.course] %>
</p>

<p>
  <b>Academic year:</b>
  <%= "#{@term.academic_year}-#{@term.academic_year+1}" %>
</p>

<p>
  <b>Semester:</b>
  <%= @term.semester %>
</p>

<p>
  <b>Departments:</b>
  <ul>
    <% @term.departments.each do |dept| %>
    <li><%= dept.name %></li>
    <% end %>
    <li>
      <%= form_for([:admin, @course, @new_department]) do |f| %>
      Add new Department?
      <div>
	<%= f.hidden_field :term_id, value: @term.id %>
	<%= f.select :department_id, options_for_select(@departments_array) %><br />
	<%= f.submit class: "btn btn-default btn-small", value: "Go!" %>
      </div>
      <% end %>
    </li>
  </ul>
</p>

<p>
  <b>Faculty:</b>
  <ul>
    <% @term.faculties.each do |faculty| %>
    <li><%= faculty.user.name %></li>
    <% end %>
    <li>
      <%= form_for([:admin, @course, @new_faculty]) do |f| %>
      Add new Faculty?
	<%= f.hidden_field :term_id, value: @term.id %>	
      <div class="input-group">
	<%= f.text_field :faculty, class: "form-control", placeholder: "faculty webmail id" %>
	<%= f.submit class: "btn btn-default", value: "Go!" %>
      </div>
      <% end %>
    </li>
  </ul>
</p>

<%= link_to 'Edit', [:edit, :admin, @course, @term] %> |
<%= link_to 'Back', admin_course_terms_path(@course) %>
