<%= form_for([:admin, @user]) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
  
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<fieldset>
  <legend><%= @legend %></legend>
  <div class="field">
    <%= f.text_field :name, placeholder: "Full Name", :class => "form-control" %>
    <%= f.hidden_field :activated, value: false %>
  </div>
  <div class="field">
    <%= f.text_field :email, placeholder: "Webmail address", class: "form-control" %>
  </div>
  <div class="field">
    <%= f.text_field :phone, placeholder: "Phone Number", class: "form-control" %>
  </div>
  <div class="field">
    <%= f.select :department_id, options_for_select(@departments_array, @dept), {:include_blank => true}, {class: "form-control"} %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Back", admin_users_path, class: "btn btn-default btn-small" %>
  </div>
</fieldset>
<% end %>
