<div class="span12" style="text-align:center">
  <caption><h3>Listing all Users</h3></caption>
</div>

<table class="table">  
  <div class="pull-right">
    <%= page_navigation_links @users%>
  </div>

  <a href="<%= url_for new_admin_user_path %>" class="btn btn-default pull-left">
    <span class="glyphicon glyphicon-plus" style="color: green; "></span>
    New User
  </a>
  
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Department</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td <%= "class=text-info style=font-weight:bold;" if user.admin? %>>
        <%= user.name %>
      </td>
      <td><%= user.email %></td>
      <td><%= user.department.name %></td>
      <td>
        <%= link_to 'Show', [:admin, user], class: "btn btn-default btn-mini" %>
        <%= link_to 'Edit', edit_admin_user_path(user), class: "btn btn-default btn-mini" %>
        <%= link_to 'Remove', [:admin, user], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="pull-right">
  <%= page_navigation_links @users%>
</div>
<a href="<%= url_for new_admin_user_path %>" class="btn btn-default pull-left">
  <span class="glyphicon glyphicon-plus" style="color: green; "></span>
  New User
</a>
