<table class="table">
  <caption><h3>Listing all Users</h3></caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Department</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
	<%= user.name %>
      </td>
      <td><%= user.email %></td>
      <td><%= user.department.name %></td>
      <td>
	<%= link_to 'Show', [:admin, user], class: "btn btn-default btn-mini" %>
	<%= link_to 'Edit', edit_admin_user_path(user), class: "btn btn-default btn-mini" %>
	<%= link_to 'Destroy', [:admin, user], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to "New User", new_admin_user_path, class: "btn btn-primary btn-small" %>
