<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Profile pic:</b>
  <%= @user.profile_pic %>
</p>

<p>
  <b>Department:</b>
  <%= @user.department %>
</p>

<p>
  <b>Designation:</b>
  <%= @user.designation %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
