
<%= form_for([:admin, @course]) do |f| %>
<% if @course.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

  <ul>
    <% @course.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


<fieldset>
  <% if @legend %>
  <legend><%= @legend %></legend>
  <% end %>
  <div class="field">
    <%= f.text_field :subject_code, class: "input-small", placeholder: "Course Code" %>
    <%= f.text_field :name, class: "input-xxlarge", placeholder: "Course Name" %>
  </div>
  <div class="field">
    <%= f.number_field :credits, class: "input-small", placeholder: "# Credits" %>
  </div>
  <div class="field">
    <%= f.text_area :about, class: "input-xxlarge", placeholder: "About Course", rows: 10 %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-large btn-primary" %>
    <%= link_to "Back", [:admin, @course], class: "btn btn-small" %>
  </div>
</fieldset>
<% end %>

