<a href="<%= course_path(@course) %>" class="btn btn-small">Back</a>
<h4>
  <small><%= @course.subject_code %></small>
  <%= @course.name %>
</h4>


<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Edit Course Details
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
	<%= render 'form' %>
      </div>
    </div>
  </div>
</div>


<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Add New Term
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">

	<%= form_for([:admin, @new_term]) do |f| %>
	<div class="field">
	  <span term_course_id, options_for_select(@courses_array)) %>
	    <%= f.label :course_id %>
	    <%= select_tag(:term_course_id, options_for_select(@courses_array, @course.id)) %>
	  </span>
	  <span term_course_id, options_for_select(@courses_array)) %>
	    <%= f.label :academic_year %>
	    <%= f.number_field :academic_year, value: @current_ac_year %>
	  <span class="help-block">
	    Enter the begining of the academic year. If the academic year is 2012-2013, you have to enter 2012.
	  </span>
	</div>
	<div class="field">
	  <%= f.label :semester %>
	  <%= f.number_field :semester %>
	</div>
	<div class="actions">
	  <%= f.submit class: 'btn btn-primary' %>
	</div>
	<% end %>
      </div>
    </div>
  </div>
</div>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Add New Topic
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">

	<%= form_for [:admin, @course, @new_topic] do |f| %>
	<fieldset>
	  <legend><%= @legend %></legend>
	  <div class="field">
	    <%= f.label :title %>
	    <%= f.text_field :title %>
	  </div>
	  <div class="field">
	    <%= f.label :ct_status %>
	    <%= f.select :ct_status, options_for_select([["CT1", "CT1"], ["CT2", "CT2"], ["Post CT", "Post CT"]]) %>
	  </div>
	  <div class="field">
	    <%= f.label :description %>
	    <%= f.text_area :description, :rows => 4 %>
	  </div>
	  <div class="actions">
	    <%= f.submit class: 'btn btn-primary' %>
	  </div>
	</fieldset>
	<% end %>
      </div>
    </div>
  </div>
</div>

