<h5>
  <small><%= @course.subject_code %></small>
  <%= @course.name %>
</h5>

<hr>
<div class="row">
    <ul class="nav nav-pills nav-stacked col-md-3 local-nav">
      <li class="active"><a href="#_info_1" data-toggle="tab">Edit Course Details</a></li>
      <li><a href="#_info_3" data-toggle="tab">Add New Term</a></li>
      <li><a href="#_info_4" data-toggle="tab">Add New Section</a></li>
    </ul>
    <div class="tab-content col-md-9">
      <div class="tab-pane active" id="_info_1">
        <h4>Edit Course Details</h4>
        <%= render 'form' %>
      </div>
    
      <div class="tab-pane" id="_info_3">
        <h4>Add New Term</h4>
        <%= form_for([:admin, @course, @new_term]) do |f| %>
          <div class="field">
            <%= f.label :course_id %>
            <%= @course.name %>
            <%= f.hidden_field :course_id, value: @course.id %>
          </div>
          <div class="field">
            <%= f.label :academic_year %>
            <%= f.number_field :academic_year, value: @current_ac_year, class: "form-control" %>
            <span class="help-block">
              Enter the begining of the academic year. If the academic year is 2012-2013, you have to enter 2012.
            </span>
          </div>
          <div class="field">
            <%= f.label :semester %>
            <%= f.select :semester, options_for_select(@sem_options), {}, {class: "form-control"} %>
          </div>
          <div class="actions">
            <%= f.submit class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>

    <div class="tab-pane" id="_info_4">
      <%= form_for [:admin, @course, @new_section] do |f| %>
        <fieldset>
          <div class="field">
            <%= @course.name %>
          </div>
          <div class="field">
            <%= f.label :title %>
            <%= f.text_field :title ,class: "form-control" %>
          </div>
          <div class="field">
            <%= f.hidden_field :term_id, :value => @course.id%>
          </div>
          <div class="actions">
            <%= f.submit class: 'btn btn-primary' %>
          </div>
        </fieldset>
        <% end %>
    </div>
  </div>
</div>

<a href="<%= admin_course_path(@course) %>" class="btn btn-default btn-small">
  <i class="glyphicon glyphicon-chevron-left"></i>
  Back
</a>
