<% if notice %>
<div id="notice" class="alert alert-info">
  <%= notice %>
</div>
<% end %>

<div class="pull-right">
  <%= link_to 'Edit', edit_admin_course_path(@course), class: 'btn btn-small' %>
</div>

<h3>
  <span class="label label-info"><%= @course.subject_code %></span>
  <%= @course.name %>
</h3>
<p>
  This course is offered by <%= pluralize @course.departments.length, 'department' %>
  <% if @course.departments.length > 0 %>
  <strong>(
    <% @course.departments.each do |department| %>
    <%= link_to department.short, [:admin, department] %>
    <% end %>
    ).
  </strong>
  <% end %>

  It is a <strong><%= @course.credits %></strong> credit course.


<div>
  <% unless @course.current_term.nil? %>
  Classes for this course are being held right now for <%= @course.current_term.semester.ordinalize %> semester students in the academic year <%= @course.current_term.year %>.
  <% end %>
</div>


</p>


<div class="s-push"></div>
<div>
  <strong>Reference Books:</strong>
  <% if @course.books.length == 0 %>
  <p>No reference book found for this subject.</p>
  <% else %>
  <table class="table table-hover" >
    <% @course.books.each do |book| %>
    <tr>
      <td>
	<small>
	  <b><%= link_to book.title, [:admin, book] %> (<%= book.year %>)</b>
	  by
	  <% book.authors.each do |author| %>
	  <%= link_to author.name, [:admin, author] %>;
	  <% end %><br />
	  
	  <%= "#{book.publisher}, #{book.edition}" %> <b><i><%= "#{book.isbn}" %></i></b>
	</small>
      </td>
    </tr>
    <% end %>
  </table>
  <% end %>
</div>

<div class="s-push"></div>
<table class="table table-bordered">
  <thead>
    <caption><h4>
	Topics
    </h4></caption>
  </thead>
  <tbody>
    <% if @course.topics.length == 0 %>
    <tr><td>
      No topic found for this course.
    </td></tr>
    <% else %>
    <% @course.topics.each do |topic| %>
    <% @topic = topic %>
    <tr><td>
	<%= render :template => "admin/topics/show" %>
	
    </td></tr>
    <% end %>
    <% end %>
  </tbody>
</table>




