<div data-spy="affix" data-offset-top="60" id="sidebar">
	<div class="list-group">
		<a href="<%= page_path('help/admin/creating-a-coures')%>" class="list-group-item">Adding a Course</a>
		<a href="<%= page_path('help/admin/editing-a-course')%>" class="list-group-item">Editing a Course</a>
		<a href="<%= page_path('help/admin/offering-a-course')%>" class="list-group-item">Offering a Course</a>
		<a href="<%= page_path('help/admin/search-in-admin-panel')%>" class="list-group-item">Search in Admin Panel</a>
		<a href="<%= page_path('help/admin/creating-a-coures')%>" class="list-group-item">Creating Admin Users</a>
	</div>
</div>
