<div data-spy="affix" data-offset-top="60" id="sidebar">
	<ul class="list-group">
		<li class="list-group-item"><%= link_to 'Adding a Course', page_path("help/admin/creating-a-coures")%></li>
		<li class="list-group-item"><%= link_to 'Editing a Course', page_path("help/admin/editing-a-course")%></li>
		<li class="list-group-item"><%= link_to 'Offering a Course', page_path("help/admin/offering-a-course")%></li>
		<li class="list-group-item"><%= link_to 'Search in Admin Panel', page_path("help/admin/search-in-admin-panel")%></li>
		<li class="list-group-item"><%= link_to 'Creating Admin Users', page_path("help/admin/creating-a-coures")%></li>
	</ul>
</div>
