<div data-spy="affix" data-offset-top="60" id="sidebar">
	<div class="list-group">
		<a href="<%= page_path('help/faculty/sign-up')%>" class="list-group-item">Sign Up</a>
		<a href="<%= page_path('help/faculty/cycle-test-filters')%>" class="list-group-item">Cycle Test Filters</a>
		<a href="<%= page_path('help/faculty/search-in-topic')%>" class="list-group-item">Search For Topics</a>
		<a href="<%= page_path('help/faculty/uploading-notes')%>" class="list-group-item">Uploading Notes</a>
		<a href="<%= page_path('help/faculty/adding-reference-books')%>" class="list-group-item">Adding Reference Books</a>
		<a href="<%= page_path('help/faculty/adding-topics-and-subtopics')%>" class="list-group-item">Adding Topics and Subtopics</a>
		<a href="<%= page_path('help/faculty/editing-topics-and-subtopics')%>" class="list-group-item">Editing Topics and Subtopics</a>
		<a href="<%= page_path('help/faculty/deleting-topics-and-subtopics')%>" class="list-group-item">Deleting Topics and Subtopics</a>
		<a href="<%= page_path('help/faculty/referencing-notes-and-reference-books')%>" class="list-group-item">Referencing Notes and Books</a>
		<a href="<%= page_path('help/faculty/list-students-attending')%>" class="list-group-item">List of Students Attending</a>
		<a href="<%= page_path('help/faculty/profile-page')%>" class="list-group-item">Profile Page</a>
		<a href="<%= page_path('help/faculty/editing-profile-page')%>" class="list-group-item">Editing Profile Page</a>
	</div>
</div>
