<div data-spy="affix" data-offset-top="60" id="sidebar">
	<ul class="list-group">
		<li class="list-group-item"><%= link_to 'Sign up', page_path("help/faculty/sign-up")%></li>
		<li class="list-group-item"><%= link_to 'Cycle Test Filters', page_path("help/faculty/cycle-test-filters")%></li>
		<li class="list-group-item"><%= link_to 'Search For Topics', page_path("help/faculty/search-in-topic")%></li>
		<li class="list-group-item"><%= link_to 'Uploading Notes', page_path("help/faculty/uploading-notes")%></li>
		<li class="list-group-item"><%= link_to 'Adding Reference Books', page_path("help/faculty/adding-reference-books")%></li>
		<li class="list-group-item"><%= link_to 'Adding Topics and Subtopics', page_path("help/faculty/adding-topics-and-subtopics")%></li>
		<li class="list-group-item"><%= link_to 'Editing Topics and Subtopics', page_path("help/faculty/editing-topics-and-subtopics")%></li>
		<li class="list-group-item"><%= link_to 'Deleting Topics and Subtopics', page_path("help/faculty/deleting-topics-and-subtopics")%></li>
		<li class="list-group-item"><%= link_to 'Uploading Notes', page_path("help/faculty/uploading-notes")%></li>
		<li class="list-group-item"><%= link_to 'Referencing Notes and Books', page_path("help/faculty/referencing-notes-and-reference-books")%></li>
		<li class="list-group-item"><%= link_to 'List of Students Attending', page_path("help/faculty/list-students-attending")%></li>
		<li class="list-group-item"><%= link_to 'Profile Page', page_path("help/faculty/profile-page")%></li>
		<li class="list-group-item"><%= link_to 'Editing Profile Page', page_path("help/faculty/editing-profile-page")%></li>
	</ul>
</div>
