<div data-spy="affix" data-offset-top="60" id="sidebar">
	<div class="list-group">
		<a href="<%= page_path('help/student/sign-up') %>" class="list-group-item">Sign up</a>
		<a href="<%= page_path('help/student/cycle-test-filters') %>" class="list-group-item">Cycle Test Filters</a>
		<a href="<%= page_path('help/student/search-in-topic') %>" class="list-group-item">Search For Topics</a>
		<a href="<%= page_path('help/student/uploading-notes') %>" class="list-group-item">Uploading Notes</a>
		<a href="<%= page_path('help/student/courses-attending') %>" class="list-group-item">Attending a Course</a>
		<a href="<%= page_path('help/student/profile-page') %>" class="list-group-item">Profile Page</a>
	</div>
</div>
