<div data-spy="affix" data-offset-top="60" id="sidebar">
	<ul class="list-group">
		<li class="list-group-item"><%= link_to 'Sign up', page_path("help/student/sign-up")%></li>
		<li class="list-group-item"><%= link_to 'Cycle Test Filters', page_path("help/student/cycle-test-filters")%></li>
		<li class="list-group-item"><%= link_to 'Search For Topics', page_path("help/student/search-in-topic")%></li>
		<li class="list-group-item"><%= link_to 'Uploading Notes', page_path("help/student/uploading-notes")%></li>
		<li class="list-group-item"><%= link_to 'Attending a Course', page_path("help/student/courses-attending")%></li>
		<li class="list-group-item"><%= link_to 'Profile Page', page_path("help/student/profile-page")%></li>
	</ul>
</div>
