<!doctype html>
<html>
<head>
  <title>Courses</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> 
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin/">Courses</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
	<li class="divider-vertical"></li>
	<li><%= link_to "Departments", admin_departments_path %></li>
	<li><%= link_to "Courses", admin_courses_path %></li>
	<li><%= link_to "Users", admin_users_path %></li>
	<li><%= link_to "Faculty", admin_faculties_path %></li>
	<li><%= link_to "Books", admin_books_path %></li>
	<li><%= link_to "Authors", admin_authors_path %></li>
      </ul>
      <form action="<%= admin_courses_path %>" method="get" class="navbar-form navbar-right input-group">
	<span class="input-group-addon glyphicon glyphicon-search" style="top: 0; "></span>
	<input type="text" name="code" class="form-control" placeholder="Course Code">
      </form>
    </div>
  </nav>
  <div id="wrap">
    <div class="container">
      <div class="s-push"></div>
      <%= yield %>
    </div>
    <div class="push"></div>
  </div>
  <div id="footer">
    <div class="container">
      <p class="muted credit">
	Copyleft
	<!--[if lte IE 8]><span style="filter: FlipH; -ms-filter: "FlipH"; display: inline-block;"><![endif]-->
	<span title="copyleft" style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">
	  &copy;
	</span>
	<!--[if lte IE 8]></span><![endif]-->
	
	2013 - Developed by <%= link_to "Shiva Nandan", "https://github.com/seekshiva", target: '_blank' %>.
      </p>
    </div>
  </div>
  <%= javascript_include_tag "vendor" %>
  <script>
    $("body").popover({
      selector: "[rel='popover']"
    })
  </script>
</body>
</html>
