<!doctype html>
<html>
<head>
  <title>Courses</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
	<a class="brand" href="/">Courses</a>
	<ul class="nav">
	  <li><a href="/departments">Departments</a></li>
	  <li><a href="/courses">Courses</a></li>
	  <li><a href="/terms">Terms</a></li>
	</ul>
      </div>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>

  <%= javascript_include_tag "vendor" %>
  <%= javascript_include_tag "application" %>
</body>
</html>
